@model SpecialOlympics.Models.VoluntarioCampeonato

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>VoluntarioCampeonato</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdVoluntario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdVoluntario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCampeonato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCampeonato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Funcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Funcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdVoluntarioCampeonato">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
