@model SpecialOlympics.Models.ViewModels.Entrenamientos.EntrenamientoEditViewModel

@{
    ViewData["Title"] = "Editar entrenamiento";
}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("PartialDataTable");}
}

<h1>Editar</h1>

<div id="accordion" role="tablist" aria-multiselectable="true">
    <div class="card">
        <h5 class="card-header bg-danger" role="tab" id="headingOne">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="d-block collapsableLink">
                Datos del entrenamiento <i class="fa fa-chevron-up pull-right float-right"></i>
            </a>
        </h5>
        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-body">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Entrenamiento.IdEntrenamiento" />
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label asp-for="Entrenamiento.Nombre" class="control-label"></label>
                            <input asp-for="Entrenamiento.Nombre" class="form-control" />
                            <span asp-validation-for="Entrenamiento.Nombre" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Entrenamiento.Ubicacion" class="control-label"></label>
                            <input asp-for="Entrenamiento.Ubicacion" class="form-control" />
                            <span asp-validation-for="Entrenamiento.Ubicacion" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label asp-for="Entrenamiento.FechaInicio" class="control-label"></label>
                            <input asp-for="Entrenamiento.FechaInicio" class="form-control" />
                            <span asp-validation-for="Entrenamiento.FechaInicio" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Entrenamiento.Observaciones" class="control-label"></label>
                            <input asp-for="Entrenamiento.Observaciones" class="form-control" />
                            <span asp-validation-for="Entrenamiento.Observaciones" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="card">
        <h5 class="card-header bg-danger" role="tab" id="headingTwo">
            <a class="d-block collapsableLink" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Voluntarios en el entrenamiento<i class="fa fa-chevron-up pull-right float-right"></i>
            </a>
        </h5>
        <div id="collapseTwo" class="collapse show" role="tabpanel" aria-labelledby="headingTwo">
            <div class="card-body">

                <form id="formDeleteVoluntarios" asp-controller="VoluntariosEntrenamientos" asp-action="DeleteMulti">
                    <input type="hidden" id="listIdsVoluntariosDelete" name="idsFormDelete" value="" />
                    <div style="overflow-x: auto;">
                        <table id="tableVoluntariosDelete" class="table table-striped table-bordered partialDataTableCheckbox">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => Model.VoluntariosFromEntrenamiento[0].IdVoluntario)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => Model.VoluntariosFromEntrenamiento[0].Nombre)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => Model.VoluntariosFromEntrenamiento[0].Apellido1)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => Model.VoluntariosFromEntrenamiento[0].Apellido2)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => Model.VoluntariosFromEntrenamiento[0].Telefono1)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => Model.VoluntariosFromEntrenamiento[0].Email)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => Model.VoluntariosFromEntrenamiento[0].Funcion)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var voluntario in Model.VoluntariosFromEntrenamiento)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(model => voluntario.IdVoluntarioActividad)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => voluntario.Nombre)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => voluntario.Apellido1)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => voluntario.Apellido2)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => voluntario.Telefono1)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => voluntario.Email)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => voluntario.Funcion)
                                        </td>
                                        <td>
                                            <a class="icon iconInfo" asp-controller="VoluntariosEntrenamientos" asp-action="Edit" asp-route-id="@voluntario.IdVoluntarioActividad"><i class="fas fa-pen-square"></i></a>
                                            <a class="icon iconDanger" asp-controller="VoluntariosEntrenamientos" asp-action="Delete" asp-route-id="@voluntario.IdVoluntarioActividad"><i class="fas fa-minus-square"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <br />
                    <input type="button" id="submitDelete" value="Eliminar voluntarios del Entrenamiento" class="btn btn-outline-primary" />
                </form>
            </div>
        </div>
    </div>
    <div class="card">
        <h5 class="card-header bg-danger" role="tab" id="headingThree">
            <a class="d-block collapsableLink" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Voluntarios disponibles<i class="fa fa-chevron-up pull-right float-right"></i>
            </a>
        </h5>
        <div id="collapseThree" class="collapse show" role="tabpanel" aria-labelledby="headingThree">
            <div class="card-body">
                <form id="formAddVoluntarios" asp-controller="VoluntariosEntrenamientos" asp-action="Create">
                    <input type="hidden" id="listIdsVoluntarios" name="idsForm" value="" />
                    <div style="overflow-x: auto;">
                        <table id="tableVoluntarios" class="table table-striped table-bordered partialDataTableCheckbox">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => Model.VoluntariosDisponibles[0].IdVoluntario)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => Model.VoluntariosDisponibles[0].Nombre)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => Model.VoluntariosDisponibles[0].Apellido1)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => Model.VoluntariosDisponibles[0].Apellido2)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => Model.VoluntariosDisponibles[0].Telefono1)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => Model.VoluntariosDisponibles[0].Email)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var voluntario in Model.VoluntariosDisponibles)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(model => voluntario.IdVoluntario)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => voluntario.Nombre)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => voluntario.Apellido1)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => voluntario.Apellido2)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => voluntario.Telefono1)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => voluntario.Email)
                                        </td>
                                        <td>
                                            <a class="icon iconInfo" asp-controller="Voluntarios" asp-action="Edit" asp-route-id="@voluntario.IdVoluntario"><i class="fas fa-pen-square"></i></a>
                                            <a class="icon iconDanger" asp-controller="Voluntarios" asp-action="Delete" asp-route-id="@voluntario.IdVoluntario"><i class="fas fa-minus-square"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <br />
                    <input type="button" id="submitButtonId" value="Añadir voluntarios a Entrenamiento" class="btn btn-outline-primary" />
                </form>

            </div>
        </div>
    </div>
</div>
<br />

<div>
    <a class="btn btn-primary" asp-action="Index">Volver</a>
</div>

<script defer>

    $('#submitButtonId').click(function () {

        var table = $("#tableVoluntarios").DataTable();
        var selectedRows = table.column(0).checkboxes.selected();
        let selectedRowsText = "";

        if (selectedRows.length > 0) {
            selectedRowsText = @Model.Entrenamiento.IdEntrenamiento + ";";
            for (let i = 0; i < selectedRows.length; i++) {
                selectedRowsText += selectedRows[i] + ";";
            }
        }

        if (selectedRowsText != "") {
            $("#listIdsVoluntarios").val(selectedRowsText);
            $("#formAddVoluntarios").submit();
        }

    });
    //TODO: Esto se deberia hacer con un post de Ajax. Al fin y al cabo no queremos refrescar la pagina
    $('#submitDelete').click(function () {

        var table = $("#tableVoluntariosDelete").DataTable();
        var selectedRows = table.column(0).checkboxes.selected();
        let selectedRowsText = "";

        for (let i = 0; i < selectedRows.length; i++) {
            selectedRowsText += selectedRows[i] + ";";
        }

        if (selectedRowsText != "") {
            $("#listIdsVoluntariosDelete").val(selectedRowsText);
            $("#formDeleteVoluntarios").submit();
        }

    });


</script>
